<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- For é informado a interface que será usada.
         type a classe que será utilizada.
    -->

    <!-- Toda vez que chamarem o NameInterface utilize a classe Name   -->
    <preference for="Interfaces\InterfaceModule\Api\NameInterface" type="Interfaces\InterfaceModule\Model\Name" />

    <!-- name => Classe alvo, a classe que queremos alterar os parametros do seu construtor-->
    <type name="Interfaces\InterfaceModule\Model\Product\Shoe">
        <arguments>
            <!-- name=> o parametro/variavel que desejamos interceptar e alterar-->
            <argument name="name" xsi:type="object">
                <!-- O valor do novo type( Ver o type em <preference> na linha 12. -->
                Interfaces\InterfaceModule\Model\SubName
            </argument>
        </arguments>
    </type>

    <!-- Virtual types - funcionalidade dentro do di(dependens injection
     Inserir dependencias em uma classe já existente sem afetar outras classes-->

    <virtualType name="typeMaterial" type="Interfaces\InterfaceModule\Model\SizeGreat">
        <argument name="material" xsi:type="object">
            Interfaces\InterfaceModule\Model\MaterialSynthetic
        </argument>
    </virtualType>



    <!-- name => Classe alvo, a classe que queremos alterar os parametros do seu construtor-->
    <type name="Interfaces\InterfaceModule\Model\Product\Shirt">
        <arguments>
            <!-- name=> o parametro/variavel que desejamos interceptar e alterar-->
            <argument name="typeText" xsi:type="string">
                Deu bom
            </argument>
            <argument name="typeNumber" xsi:type="number">2023</argument>
            <argument name="typeArray" xsi:type="array">
                <item name="customName" xsi:type="string">TOim</item>
                <item name="customColor" xsi:type="string">Azul</item>
            </argument>
            <argument name="typeInitParameter" xsi:type="init_parameter">Interfaces\InterfaceModule\Model\Product\Shirt::MY_CONSTANT</argument>
        </arguments>
    </type>

</config>