<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- For é informado a interface que será usada.
         type a classe que será utilizada.
    -->
    <preference for="Interface\InterfaceModule\Api\NameInterface" type="Interface\InterfaceModule\Model\Name" />

</config>